Repository PHAREHUB/PHARE, pull requests merged in 2019-10, with the labels that each got.

#36 solver namespace now does not explicitly depend on samrai
  src/amr/CMakeLists.txt
  src/amr/types/amr_types.h
  src/core/CMakeLists.txt
  src/core/data/electromag/electromag.h
  src/core/data/vecfield/vecfield.h
  src/core/data/vecfield/vecfield_initializer.h
  src/core/models/hybrid_state.h
  src/core/utilities/function/function.h
  src/solver/CMakeLists.txt
  src/solver/messenger_registration.h
  src/solver/multiphysics_integrator.h
  src/solver/physical_models/hybrid_model.h
  src/solver/physical_models/mhd_model.h
  src/solver/physical_models/physical_model.h
  src/solver/solvers/solver.cpp
  src/solver/solvers/solver.h
  src/solver/solvers/solver_mhd.h
  src/solver/solvers/solver_ppc.h
  tests/amr/messengers/test_messengers.cpp
  tests/amr/messengers/test_tag_strategy.h
  tests/amr/models/CMakeLists.txt
  tests/amr/models/test_main.cpp
  tests/amr/multiphysics_integrator/test_main.cpp
  tests/amr/resources_manager/CMakeLists.txt
  tests/amr/resources_manager/resource_test_1d.cpp
  tests/core/numerics/interpolator/test_main.cpp
Labels: refactoring

#32 initialise fields from data provider
  src/core/CMakeLists.txt
  src/core/data/electromag/electromag.h
  src/core/data/vecfield/vecfield.h
  src/core/data/vecfield/vecfield_initializer.h
  src/core/models/hybrid_state.h
  src/core/utilities/function/function.h
  src/solver/physical_models/hybrid_model.h
  tests/amr/messengers/test_messengers.cpp
  tests/amr/messengers/test_tag_strategy.h
  tests/amr/models/CMakeLists.txt
  tests/amr/models/test_main.cpp
  tests/amr/multiphysics_integrator/test_main.cpp
  tests/amr/resources_manager/CMakeLists.txt
  tests/amr/resources_manager/resource_test_1d.cpp
  tests/core/numerics/interpolator/test_main.cpp
Labels: feature

#43 allow path specific to find SAMRAI with SAMRAI_ROOT
  CMakeLists.txt
Labels: cmake
