Repository PHAREHUB/PHARE, pull requests merged in 2020-05, with the labels that each got.

#194 add lower/upper and domain, origin and root cell width to h5 files
  src/amr/wrappers/hierarchy.h
  src/core/utilities/point/point.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/diagnostic_model_view.h
  src/simulator/CMakeLists.txt
  src/simulator/phare_types.h
  tests/simulator/per_test.h
Labels: diagnostics outputs

#205 fix bug, take random number generator by reference
  src/core/data/ions/particle_initializers/maxwellian_particle_initializer.cpp
  src/core/data/ions/particle_initializers/maxwellian_particle_initializer.h
Labels: READY4REVIEW, bug, core

#215 Deionize
  phare/pharein/__init__.py
  phare/pharein/diagnostics.py
  src/core/data/ions/ion_population/ion_population.h
  src/core/data/ions/ions.h
  tests/amr/messengers/test_messengers.cpp
  tests/amr/models/test_main.cpp
  tests/amr/resources_manager/resource_test_1d.cpp
  tests/core/data/electrons/test_electrons.cpp
  tests/core/data/ion_population/test_main.cpp
  tests/core/data/ions/test_main.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
  tests/diagnostic/test_diagnostics.cpp
Labels: core, refactoring

#214 add initialization of the electric field
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
  src/core/data/electromag/electromag.h
  src/core/data/electrons/electrons.h
  src/core/data/grid/gridlayout_utils.h
  src/core/data/grid/gridlayoutimplyee.h
  src/core/numerics/faraday/faraday.h
  src/core/numerics/ohm/ohm.h
  src/simulator/simulator.h
  src/solver/level_initializer/hybrid_level_initializer.h
  src/solver/level_initializer/level_initializer.h
  tests/amr/messengers/job.py.in
  tests/amr/messengers/test_messengers.cpp
  tests/amr/multiphysics_integrator/job.py.in
  tests/amr/periodicity/job.py
  tests/amr/periodicity/test_main.cpp
  tests/core/data/gridlayout/test_linear_combinaisons_yee.py
  tests/diagnostic/job.py.in
  tests/initializer/job.py
  tests/simulator/__init__.py
  tests/simulator/per_test.h
Labels: READY4REVIEW, bug

#225 Noop DiagnosticsManager if HighFive is disabled
  res/cmake/def.cmake
  src/diagnostic/CMakeLists.txt
  src/diagnostic/detail/h5writer.h
  src/diagnostic/diagnostic_manager.cpp
  src/diagnostic/diagnostic_manager.h
  src/diagnostic/diagnostics.h
  src/diagnostic/utils/particle_utils.h
  src/phare/CMakeLists.txt
  src/phare/include.h
  src/python3/CMakeLists.txt
  src/python3/cpp_simulator.cpp
  src/python3/data_wrangler.cpp
  src/simulator/CMakeLists.txt
  src/simulator/include.h
  src/simulator/phare_types.h
  tests/amr/periodicity/CMakeLists.txt
  tests/diagnostic/test_diagnostics.cpp
  tests/diagnostic/test_diagnostics.h
  tests/simulator/__init__.py
  tests/simulator/per_test.h
Labels: refactoring

#115 Advancement
  pyphare/pyphare/pharein/__init__.py
  res/cmake/test.cmake
  src/amr/messengers/communicators.h
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
  src/amr/messengers/hybrid_messenger.h
  src/amr/messengers/hybrid_messenger_info.h
  src/amr/messengers/hybrid_messenger_strategy.h
  src/amr/messengers/mhd_hybrid_messenger_strategy.h
  src/amr/messengers/quantity_communicator.h
  src/core/CMakeLists.txt
  src/core/data/electrons/electrons.h
  src/core/data/grid/gridlayout.h
  src/core/models/hybrid_state.h
  src/core/numerics/ampere/ampere.h
  src/core/numerics/faraday/faraday.h
  src/core/numerics/ion_updater/ion_updater.h
  src/core/numerics/ohm/ohm.h
  src/core/numerics/pusher/boris.h
  src/core/numerics/pusher/pusher.h
  src/core/numerics/pusher/pusher_factory.h
  src/core/utilities/box/box.h
  src/core/utilities/particle_selector/particle_selector.h
  src/core/utilities/partitionner/partitionner.h
  src/core/utilities/point/point.h
  src/diagnostic/diagnostic_manager.h
  src/diagnostic/diagnostic_model_view.h
  src/phare/CMakeLists.txt
  src/phare/phare.cpp
  src/phare/phare_init.py
  src/python3/data_wrangler.cpp
  src/simulator/simulator.h
  src/solver/level_initializer/hybrid_level_initializer.h
  src/solver/multiphysics_integrator.h
  src/solver/physical_models/hybrid_model.h
  src/solver/solvers/solver_ppc.h
  tests/amr/messengers/test_messengers.cpp
  tests/core/numerics/faraday/test_main.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
  tests/core/numerics/ohm/test_ohm.py
  tests/core/numerics/pusher/test_main.cpp
  tests/core/utilities/particle_selector/CMakeLists.txt
  tests/core/utilities/particle_selector/test_main.cpp
  tests/core/utilities/partitionner/test_main.cpp
  tests/initializer/test_initializer.cpp
  tests/simulator/data_wrangler.py
Labels: WIP, feature
