Repository PHAREHUB/PHARE, pull requests merged in 2020-06, with the labels that each got.

#154 2d splitting
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare_tests/pharein/simulation_test.py
  requirements.txt
  res/amr/splitting.yml
  src/amr/data/particles/refine/particles_data_split.h
  src/amr/data/particles/refine/split.h
  src/amr/data/particles/refine/split_1d.h
  src/amr/data/particles/refine/split_2d.h
  src/amr/wrappers/integrator.h
  src/core/utilities/meta/meta_utilities.h
  src/core/utilities/point/point.h
  src/core/utilities/types.h
  src/python3/cpp_simulator.cpp
  src/simulator/CMakeLists.txt
  src/simulator/phare_types.h
  tests/amr/data/particles/refine/test_basic_hierarchy.h
  tests/amr/data/particles/refine/test_split.cpp
  tests/amr/messengers/test_messengers.cpp
  tests/simulator/CMakeLists.txt
  tests/simulator/__init__.py
  tests/simulator/config.py
  tests/simulator/data_wrangler.py
  tests/simulator/refined_particle_nbr.py
  tests/simulator/refinement_boxes.py
Labels: SAMRAI interface, python

#240 Nd array from dekken
  src/core/data/ndarray/ndarray_vector.h
  tests/amr/data/field/coarsening/test_basic_hierarchy.cpp
  tests/amr/data/field/coarsening/test_linear_coarsen.h
  tests/amr/data/field/coarsening/test_weighter_coarsen.h
  tests/amr/data/field/copy_pack/field_data_test_param.h
  tests/amr/data/field/geometry/test_main.cpp
  tests/amr/data/field/refine/test_basic_hierarchy.cpp
  tests/amr/data/field/refine/test_main.cpp
  tests/amr/data/field/time_interpolate/test_main.cpp
  tests/amr/data/field/variable/test_main.cpp
  tests/amr/models/test_main.cpp
  tests/amr/resources_manager/resource_test_1d.cpp
  tests/core/data/electrons/test_electrons.cpp
  tests/core/data/field/test_main.cpp
  tests/core/data/gridlayout/gridlayout_deriv.h
  tests/core/data/gridlayout/gridlayout_laplacian.h
  tests/core/data/gridlayout/gridlayout_utilities.h
  tests/core/data/ions/test_main.cpp
  tests/core/data/ndarray/test_main.cpp
  tests/core/data/vecfield/test_main.cpp
  tests/core/numerics/ampere/test_main.cpp
  tests/core/numerics/faraday/test_main.cpp
  tests/core/numerics/interpolator/test_main.cpp
  tests/core/numerics/ohm/test_main.cpp
Labels: core, refactoring, test

#239 load python hierarchy from wrangler
  pyphare/pyphare/data/wrangler.py
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/simulator/simulator.py
  src/core/utilities/mpi_utils.h
  src/core/utilities/types.h
  src/python3/cpp_simulator.cpp
  src/simulator/simulator.h
  tests/simulator/data_wrangler.py
Labels: READY4REVIEW, feature

#252 add mpi4py issue note, install notes in readme
  ISSUES.TXT
  readme.md
Labels: READY4REVIEW, documentation

#253 periodic border init values
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
Labels: READY4REVIEW

#230 ND electrons computeBulkVelocity
  src/core/data/electrons/electrons.h
  src/core/data/ndarray/ndarray_vector.h
  src/core/utilities/types.h
  src/python3/cpp_simulator.cpp
  src/simulator/phare_types.h
  tests/amr/data/particles/schedule/test_tag_strategy.h
  tests/simulator/refined_particle_nbr.py
Labels: READY4REVIEW
