Repository PHAREHUB/PHARE, pull requests merged in 2020-12, with the labels that each got.

#397 fix momentGhost interp at level borders
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
  src/amr/messengers/hybrid_messenger.h
  src/amr/messengers/hybrid_messenger_strategy.h
  src/amr/messengers/messenger.h
  src/amr/messengers/mhd_hybrid_messenger_strategy.h
  src/amr/messengers/mhd_messenger.h
  src/solver/multiphysics_integrator.h
Labels: bug

#353 test ohm is fine with a new fixture
  src/core/numerics/ohm/ohm.h
  tests/core/numerics/ohm/test_main.cpp
  tests/core/numerics/ohm/test_ohm.py
Labels: refactoring

#392 typed electron test for 1, 2 & 3d cases
  pyphare/pyphare/pharesee/hierarchy.py
  tests/core/data/electrons/test_electrons.cpp
  tests/initializer/init_functions.h
Labels: test

#383 the field data refinement typed tests now work for 1, 2 & 3d
  .gitignore
  pyphare/pyphare/pharein/demo_python_api.ipynb
  pyphare/pyphare/pharein/examples/job.py
  pyphare/pyphare/pharein/simulation.py
  tests/amr/data/field/refine/input/input_1d_ratio_2.txt
  tests/amr/data/field/refine/input/input_1d_ratio_3.txt
  tests/amr/data/field/refine/input/input_1d_ratio_4.txt
  tests/amr/data/field/refine/input/input_1d_ratio_5.txt
  tests/amr/data/field/refine/input/input_1d_ratio_6.txt
  tests/amr/data/field/refine/input/input_1d_ratio_8.txt
  tests/amr/data/field/refine/input/input_1d_ratio_9.txt
  tests/amr/data/field/refine/input/input_2d_ratio_2.txt
  tests/amr/data/field/refine/input/input_3d_ratio_2.txt
  tests/amr/data/field/refine/test_field_refinement_on_hierarchy.cpp
  tests/amr/data/field/refine/test_tag_strategy.h
Labels: test

#391 coarsening tests
  pyphare/pyphare/core/box.py
  pyphare/pyphare/core/gridlayout.py
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/diagnostics.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare/pharesee/hierarchy.py
  src/diagnostic/diagnostic_manager.h
  src/simulator/simulator.h
  src/solver/multiphysics_integrator.h
  tests/amr/data/field/coarsening/CMakeLists.txt
  tests/amr/data/field/coarsening/test_coarsen_field.py
  tests/amr/data/field/coarsening/test_coarsening_basic_hierarchy.cpp
  tests/amr/data/field/coarsening/test_coarsening_basic_hierarchy.h
  tests/amr/data/field/coarsening/test_coarsening_main.cpp
  tests/amr/data/field/coarsening/test_linear_coarsen.h
  tests/amr/data/field/coarsening/test_tag_strategy.cpp
  tests/amr/data/field/coarsening/test_tag_strategy.h
  tests/diagnostic/__init__.py
  tests/simulator/CMakeLists.txt
  tests/simulator/test_advance.py
  tests/simulator/test_initialization.py
Labels: python, test
