Repository PHAREHUB/PHARE, pull requests merged in 2020-04, with the labels that each got.

#133 Electrons
  phare/pharein/__init__.py
  phare/pharein/electron_model.py
  phare/pharein/examples/job.py
  phare/pharein/simulation.py
  res/cmake/test.cmake
  src/amr/resources_manager/resources_manager.h
  src/core/CMakeLists.txt
  src/core/data/electrons/electrons.h
  src/core/data/grid/gridlayout.h
  src/core/data/grid/gridlayout_utils.h
  src/core/data/grid/gridlayoutimplyee.h
  src/core/data/ions/ions.h
  src/core/models/hybrid_state.h
  src/simulator/include.h
  src/simulator/phare_types.h
  src/solver/physical_models/hybrid_model.h
  tests/amr/messengers/job.py.in
  tests/amr/messengers/test_messengers.cpp
  tests/amr/models/test_main.cpp
  tests/amr/multiphysics_integrator/job.py.in
  tests/amr/periodicity/job.py
  tests/amr/resources_manager/resource_test_1d.cpp
  tests/core/data/electrons/CMakeLists.txt
  tests/core/data/electrons/test_electrons.cpp
  tests/core/data/gridlayout/test_linear_combinaisons_yee.cpp
  tests/core/data/gridlayout/test_linear_combinaisons_yee.py
  tests/diagnostic/job.py.in
  tests/initializer/job.py
  tests/simulator/py/__init__.py
Labels: READY4REVIEW, core, feature

#164 minimize push test code
  tests/core/numerics/pusher/test_main.cpp
Labels: READY4REVIEW, refactoring, test

#173 remove electromag in electrons
  src/core/data/electrons/electrons.h
  src/core/models/hybrid_state.h
  src/simulator/phare_types.h
  tests/amr/models/test_main.cpp
  tests/amr/resources_manager/resource_test_1d.cpp
  tests/core/data/electrons/test_electrons.cpp
Labels: READY4REVIEW, bug

#180 convenient is_primal(key, direction) from gridlayout.py
  phare/core/gridlayout.py
  tests/core/data/gridlayout/CMakeLists.txt
  tests/core/data/gridlayout/grid_yee.py
Labels: READY4REVIEW, core, python, refactoring

#161 pre cppdict deprecation of is_in
  src/core/utilities/types.h
  src/initializer/pyphare.cpp
Labels: READY4REVIEW, refactoring

#163 allow number of split particles to be configurable
  phare/data/wrangler.py
  phare/pharein/__init__.py
  src/amr/data/particles/refine/particles_data_split.h
  src/amr/data/particles/refine/split.h
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
  src/amr/messengers/messenger_factory.h
  src/amr/wrappers/hierarchy.h
  src/core/utilities/meta/meta_utilities.h
  src/phare/include.h
  src/python3/data_wrangler.cpp
  src/simulator/phare_types.h
  src/simulator/simulator.h
  tests/amr/data/particles/refine/test_basic_hierarchy.h
  tests/amr/data/particles/refine/test_split.cpp
  tests/amr/messengers/test_messengers.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
  tests/simulator/per_test.h
  tests/simulator/py/__init__.py
Labels: READY4REVIEW, core, python, refactoring

#183 drop initializer dependency on pybind/python3
  src/diagnostic/CMakeLists.txt
  src/initializer/CMakeLists.txt
  src/initializer/data_provider.cpp
  src/initializer/python_data_provider.cpp
  src/phare/CMakeLists.txt
  src/phare/include.h
  src/simulator/CMakeLists.txt
  src/simulator/include.h
  src/solver/CMakeLists.txt
  tests/amr/messengers/CMakeLists.txt
  tests/amr/multiphysics_integrator/CMakeLists.txt
  tests/amr/periodicity/CMakeLists.txt
  tests/diagnostic/CMakeLists.txt
  tests/initializer/CMakeLists.txt
Labels: READY4REVIEW, initializer, refactoring

#189 allow integrator per dimension template parameter
  src/amr/wrappers/integrator.h
  src/simulator/simulator.h
Labels: READY4REVIEW, SAMRAI, refactoring
