Repository PHAREHUB/PHARE, pull requests merged in 2020-07, with the labels that each got.

#261 isolate h5 file creation for disparate patches across MPI
  pyphare/pyphare/pharesee/hierarchy.py
  src/diagnostic/detail/h5typewriter.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/detail/types/electromag.h
  src/diagnostic/detail/types/fluid.h
  src/diagnostic/detail/types/particle.h
  tests/simulator/diagnostics.py
Labels: READY4REVIEW, bug, diagnostics outputs

#223 2d particle split test
  tests/amr/data/particles/refine/CMakeLists.txt
  tests/amr/data/particles/refine/input/input_2d_ratio_2.txt
  tests/amr/data/particles/refine/test_split.cpp
  tests/amr/data/particles/refine/test_tag_strategy.cpp
  tests/amr/data/particles/refine/test_tag_strategy.h
Labels: READY4REVIEW, test

#266 replace deprecated inspect.getargspec with inspect.signature only
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
Labels: READY4REVIEW

#262 werror / const double / formatting
  pyphare/pyphare/core/gridlayout.py
  src/amr/data/field/field_geometry.h
  src/diagnostic/detail/h5typewriter.h
  src/diagnostic/detail/types/electromag.h
  src/diagnostic/detail/types/fluid.h
  src/diagnostic/detail/types/particle.h
  src/diagnostic/diagnostics.h
  src/python3/cpp_simulator.cpp
  src/solver/solvers/solver_ppc.h
  tests/core/data/vecfield/test_main.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
  tests/core/numerics/pusher/test_main.cpp
Labels: READY4REVIEW

#273 cppcheck warnings
  src/amr/data/field/coarsening/field_coarsen_index_weight.h
  src/amr/data/field/field_data.h
  src/amr/data/field/field_data_factory.h
  src/amr/data/field/field_variable.h
Labels: READY4REVIEW

#281 rm ion updater dependency on simulator lib
  src/phare_amr.h
  src/phare_core.h
  src/phare_solver.h
  src/simulator/include.h
  src/simulator/phare_types.h
  src/simulator/simulator.h
  tests/core/numerics/ion_updater/test_updater.cpp
Labels: READY4REVIEW, refactoring

#267 PHARE integrator, drop regrid_interval
  src/amr/wrappers/integrator.h
Labels: READY4REVIEW

#286 initialization tests
  .gitignore
  pyphare/pyphare/data/wrangler.py
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharesee/box.py
  pyphare/pyphare/pharesee/geometry.py
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/simulator/simulator.py
  pyphare/pyphare_tests/test_pharesee/test_geometry.py
  res/cmake/def.cmake
  src/python3/cpp_simulator.cpp
  src/simulator/simulator.h
  tests/simulator/CMakeLists.txt
  tests/simulator/__init__.py
  tests/simulator/data_wrangler.py
  tests/simulator/diagnostics.py
  tests/simulator/refined_particle_nbr.py
  tests/simulator/refinement_boxes.py
  tests/simulator/test_initialization.py
Labels: test

#277 diagnostics string csv attributes refactored to -> vector of type
  res/cmake/test.cmake
  src/amr/wrappers/hierarchy.h
  src/core/data/grid/gridlayout.h
  src/core/utilities/mpi_utils.cpp
  src/core/utilities/mpi_utils.h
  src/core/utilities/point/point.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/diagnostic_model_view.h
  src/simulator/simulator.h
  tests/amr/periodicity/CMakeLists.txt
  tests/amr/periodicity/job.py
  tests/amr/periodicity/test_main.cpp
  tests/diagnostic/test_diagnostics.cpp
Labels: READY4REVIEW, diagnostics outputs, refactoring

#216 2d C++ diagnostic tests
  pyphare/pyphare/pharein/__init__.py
  src/core/data/grid/gridlayout.h
  src/core/data/ndarray/ndarray_vector.h
  src/core/numerics/interpolator/interpolator.h
  src/core/utilities/types.h
  tests/core/numerics/interpolator/test_main.cpp
  tests/diagnostic/CMakeLists.txt
  tests/diagnostic/job.py.in
  tests/diagnostic/job_1d.py.in
  tests/diagnostic/job_2d.py.in
  tests/diagnostic/test-diagnostics_1d.cpp
  tests/diagnostic/test-diagnostics_2d.cpp
  tests/diagnostic/test_diagnostics.cpp
  tests/diagnostic/test_diagnostics.h
  tests/diagnostic/test_diagnostics.ipp
  tests/simulator/__init__.py
  tests/simulator/diagnostics.py
  tests/simulator/per_test.h
Labels: READY4REVIEW, bug, diagnostics outputs
