Repository PHAREHUB/PHARE, pull requests merged in 2020-03, with the labels that each got.

#152 fix SAMRAI config issue
  res/cmake/samrai.cmake
  tests/simulator/pybind.cpp
Labels: SAMRAI, bug, cmake

#141 add timestamps to C++ diagnostics
  phare/pharein/__init__.py
  phare/pharein/diagnostics.py
  src/diagnostic/detail/highfive.h
  src/diagnostic/detail/highfive_diag_writer.h
  src/diagnostic/detail/types/electromag.h
  src/diagnostic/detail/types/fluid.h
  src/diagnostic/detail/types/particle.h
  src/diagnostic/diagnostic_dao.h
  src/diagnostic/diagnostic_manager.h
  src/initializer/data_provider.h
  src/initializer/pyphare.cpp
  src/phare/include.h
  src/phare/phare.cpp
  src/simulator/simulator.h
  tests/amr/periodicity/test_main.cpp
  tests/diagnostic/__init__.py
  tests/diagnostic/include.h
  tests/diagnostic/test_main.cpp
  tests/simulator/per_test.h
  tests/simulator/py/refinement_boxes.py
  tests/simulator/pybind.cpp
Labels: diagnostics outputs

#145 init pybind hierarchy data exports
  CMakeLists.txt
  phare/data/wrangler.py
  phare/pharein/simulation.py
  src/core/data/particles/particle.h
  src/core/data/particles/particle_packer.h
  src/core/utilities/mpi.h
  src/core/utilities/types.h
  src/diagnostic/detail/types/particle.h
  src/diagnostic/diagnostic_manager.h
  src/phare/include.h
  src/phare/phare.cpp
  src/python3/CMakeLists.txt
  src/python3/cpp_simulator.cpp
  src/python3/data_wrangler.cpp
  tests/amr/messengers/test_messengers.cpp
  tests/amr/multiphysics_integrator/test_main.cpp
  tests/amr/periodicity/test_main.cpp
  tests/diagnostic/test_main.cpp
  tests/simulator/CMakeLists.txt
  tests/simulator/per_test.h
  tests/simulator/py/__init__.py
  tests/simulator/py/data_wrangler.py
  tests/simulator/py/refinement_boxes.py
  tests/simulator/pybind.cpp
Labels: python

#156 Refacdiag
  phare/pharein/__init__.py
  phare/pharein/diagnostics.py
  phare/pharein/simulation.py
  src/core/CMakeLists.txt
  src/core/data/vecfield/vecfield_component.h
  src/core/utilities/mpi_utils.h
  src/diagnostic/CMakeLists.txt
  src/diagnostic/detail/h5file.h
  src/diagnostic/detail/h5typewriter.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/detail/types/electromag.h
  src/diagnostic/detail/types/fluid.h
  src/diagnostic/detail/types/particle.h
  src/diagnostic/diagnostic_manager.h
  src/diagnostic/diagnostic_model_view.h
  src/diagnostic/diagnostic_props.h
  src/diagnostic/diagnostic_writer.h
  src/diagnostic/utils/particle_utils.h
  src/phare/include.h
  src/python3/data_wrangler.cpp
  src/simulator/include.h
  src/simulator/phare_types.h
  tests/amr/periodicity/test_main.cpp
  tests/diagnostic/CMakeLists.txt
  tests/diagnostic/__init__.py
  tests/diagnostic/test_diagnostics.cpp
  tests/diagnostic/test_diagnostics.h
  tests/simulator/per_test.h
Labels: READY4REVIEW
