Repository PHAREHUB/PHARE, pull requests merged in 2020-09, with the labels that each got.

#315 Silence unused parameter warnings,
  src/amr/messengers/mhd_hybrid_messenger_strategy.h
  src/amr/messengers/mhd_messenger.h
  src/core/numerics/ohm/ohm.h
  src/phare/phare.cpp
  src/python3/data_wrangler.h
  src/python3/particles.h
  src/python3/patch_level.h
  src/solver/multiphysics_integrator.h
  src/solver/physical_models/mhd_model.h
  src/solver/solvers/solver_mhd.h
  tests/amr/data/field/refine/test_basic_hierarchy.h
  tests/amr/data/field/refine/test_main.cpp
  tests/amr/data/particles/schedule/test_basic_hierarchy.h
  tests/amr/messengers/test_integrator_strat.h
  tests/amr/messengers/test_messengers.cpp
  tests/amr/messengers/test_tag_strategy.h
  tests/amr/multiphysics_integrator/test_main.cpp
  tests/core/data/electrons/test_electrons.cpp
  tests/simulator/per_test.h
Labels: refactoring

#322 add cmake option 'withIPO' default off
  res/cmake/def.cmake
  res/cmake/options.cmake
Labels: cmake

#319 prevent possible conflict with built-in python3 globals() function
  pyphare/pyphare/data/wrangler.py
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/demo_python_api.ipynb
  pyphare/pyphare/pharein/diagnostics.py
  pyphare/pyphare/pharein/electron_model.py
  pyphare/pyphare/pharein/global_vars.py
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare/pharein/uniform_model.py
  pyphare/pyphare_tests/pharein/simulation_test.py
  tests/diagnostic/__init__.py
  tests/simulator/__init__.py
  tests/simulator/diagnostics.py
  tests/simulator/test_initialization.py
Labels: refactoring

#317 particle/contiguous/view interop
  src/amr/data/particles/particles_data.h
  src/amr/data/particles/particles_data_factory.h
  src/amr/data/particles/particles_variable.h
  src/amr/data/particles/refine/particles_data_split.h
  src/amr/data/particles/refine/splitter.h
  src/amr/resources_manager/field_resource.h
  src/amr/resources_manager/particle_resource.h
  src/amr/resources_manager/resources_manager.h
  src/core/data/particles/particle.h
  src/core/data/particles/particle_array.h
  src/core/utilities/span.h
  src/phare_amr.h
  src/phare_core.h
  src/python3/particles.h
  src/solver/physical_models/hybrid_model.h
  tests/amr/data/particles/copy/test_main.cpp
  tests/amr/data/particles/copy_overlap/test_main.cpp
  tests/amr/data/particles/refine/test_basic_hierarchy.h
  tests/amr/data/particles/refine/test_split.cpp
  tests/amr/data/particles/refine/test_tag_strategy.h
  tests/amr/data/particles/schedule/test_basic_hierarchy.h
  tests/amr/data/particles/schedule/test_main.cpp
  tests/amr/data/particles/schedule/test_tag_strategy.h
  tests/amr/data/particles/stream_pack/test_main.cpp
  tests/amr/messengers/test_messengers.cpp
  tests/amr/models/test_main.cpp
  tests/core/data/particles/CMakeLists.txt
  tests/core/data/particles/test_interop.cpp
Labels: refactoring

#323 #297 amr::toFineGrid ratio default = 2
  src/amr/data/particles/refine/particles_data_split.h
  src/phare_amr.h
  src/phare_core.h
  src/python3/particles.h
Labels: refactoring

#338 CMake: phare_exec level functions
  res/cmake/def.cmake
  res/cmake/options.cmake
  res/cmake/test.cmake
Labels: cmake

#343 remove duplicated particle regriding
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
Labels: bug

#310 PyPhare 2d box
  pyphare/pyphare/core/box.py
  pyphare/pyphare/core/phare_utilities.py
  pyphare/pyphare_tests/test_core/CMakeLists.txt
  pyphare/pyphare_tests/test_core/test_box.py
  pyphare/pyphare_tests/test_pharesee/test_geometry.py
  tests/simulator/test_initialization.py
Labels: feature

#324 Vector init functions from python
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/global_vars.py
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
  src/core/data/grid/gridlayout.h
  src/core/data/ions/particle_initializers/maxwellian_particle_initializer.cpp
  src/core/data/ions/particle_initializers/maxwellian_particle_initializer.h
  src/core/data/ions/particle_initializers/particle_initializer_factory.h
  src/core/data/particles/particle_array.h
  src/core/data/vecfield/vecfield_initializer.h
  src/core/utilities/span.h
  src/core/utilities/types.h
  src/initializer/data_provider.h
  src/initializer/dictator.cpp
  src/python3/cpp_simulator.cpp
  src/python3/data_wrangler.h
  src/python3/particles.h
  src/python3/pybind_def.h
  tests/amr/messengers/test_messengers.cpp
  tests/amr/models/test_main.cpp
  tests/amr/multiphysics_integrator/test_main.cpp
  tests/amr/resources_manager/resource_test_1d.cpp
  tests/core/data/electrons/test_electrons.cpp
  tests/core/data/ions/test_main.cpp
  tests/core/data/maxwellian_particle_initializer/test_funcs.h
  tests/core/data/maxwellian_particle_initializer/test_init_funcs.h
  tests/core/data/maxwellian_particle_initializer/test_main.cpp
  tests/core/data/particle_initializer/test_main.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
  tests/initializer/init_functions.h
  tests/initializer/test_initializer.cpp
  tests/simulator/__init__.py
Labels: feature, python, refactoring

#337 set afterPushCoarseTime_ from coarser newTime
  res/cmake/test.cmake
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
  src/amr/messengers/hybrid_messenger.h
  src/amr/messengers/hybrid_messenger_strategy.h
  src/amr/messengers/messenger.h
  src/amr/messengers/mhd_hybrid_messenger_strategy.h
  src/amr/messengers/mhd_messenger.h
  src/diagnostic/detail/h5writer.h
  src/solver/multiphysics_integrator.h
  tests/simulator/CMakeLists.txt
Labels: SAMRAI interface
