Repository PHAREHUB/PHARE, pull requests merged in 2021-04, with the labels that each got.

#510 fix wrong sign in he electron pressure gradient term
  src/core/numerics/ohm/ohm.h
  tests/core/numerics/ohm/test_ohm.py
Labels: bug

#458 field level ghost interpolation tests
  pyphare/pyphare/core/box.py
  pyphare/pyphare/core/phare_utilities.py
  pyphare/pyphare/pharesee/geometry.py
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare_tests/test_pharesee/test_geometry.py
  src/amr/data/field/time_interpolate/field_linear_time_interpolate.h
  tests/amr/data/field/refine/CMakeLists.txt
  tests/amr/data/field/refine/test_refine_field.py
  tests/core/numerics/interpolator/CMakeLists.txt
  tests/core/numerics/interpolator/interpolator_test.py
  tests/simulator/test_advance.py
Labels: test

#478 refactor finest data
  pyphare/pyphare/pharein/diagnostics.py
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/pharesee/plotting.py
Labels: feature

#457 rm deprecated tests / #414 #415
  tests/amr/data/particles/refine/test_split.cpp
  tests/amr/messengers/test_messengers.cpp
Labels: test

#485 patch ghost advance tests
  pyphare/pyphare/pharesee/geometry.py
  pyphare/pyphare/pharesee/hierarchy.py
  tests/simulator/test_advance.py
  tests/simulator/test_initialization.py
Labels: test

#490 Alfven
  tests/functional/alfven_wave/alfven_wave1d.py
Labels: test

#523 fix conserv.py broken by #520
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
  tests/functional/conservation/conserv.py
Labels: bug, refactoring

#514 parallel ctest with logs per ctest
  pyphare/pyphare/simulator/simulator.py
  tools/ctest_exec_mp.py
  tools/python3/__init__.py
  tools/python3/cmake.py
Labels: test

#492 Run
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/pharesee/run.py
Labels: feature, pharesee
