Repository PHAREHUB/PHARE, pull requests merged in 2021-03, with the labels that each got.

#444 Distplot
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/pharesee/particles.py
Labels: bug

#450 Py3 diagnostics: error if type already registered
  pyphare/pyphare/pharein/diagnostics.py
  tests/simulator/diagnostics.py
Labels: diagnostics outputs, python

#451 allow multiple populations in dist plot
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/pharesee/run.py
Labels: pharesee, python

#453 fix particles.x for 1D
  pyphare/pyphare/pharesee/particles.py
Labels: bug

#461 build with ccache if enabled, and found, when in devMode=ON
  CMakeLists.txt
  res/cmake/def.cmake
  res/cmake/options.cmake
Labels: cmake

#459 add population mass to fluid and particle diagnostics
  src/diagnostic/detail/h5typewriter.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/detail/types/electromag.h
  src/diagnostic/detail/types/fluid.h
  src/diagnostic/detail/types/particle.h
  tests/diagnostic/test_diagnostics.h
  tests/simulator/CMakeLists.txt
  tests/simulator/test_diagnostics.py
Labels: diagnostics outputs, refactoring

#467 fix ndim attribute in class PatchHierarchy
  pyphare/pyphare/pharesee/hierarchy.py
Labels: bug, pharesee

#435 add dispersion test
  pyphare/pyphare/simulator/simulator.py
  tests/functional/dispersion/dispersion.py
Labels: test

#448 energy conservation functional test
  res/cmake/test.cmake
  tests/functional/conservation/CMakeLists.txt
  tests/functional/conservation/conserv.py
Labels: test

#466 remove cellVolume coef from init and interp
  src/amr/amr_constants.h
  src/amr/data/particles/refine/particles_data_split.h
  src/amr/data/particles/refine/splitter.h
  src/core/data/ions/particle_initializers/maxwellian_particle_initializer.h
  src/core/numerics/interpolator/interpolator.h
  src/phare_amr.h
  src/phare_core.h
  tests/core/numerics/interpolator/test_main.cpp
Labels: refactoring

#443 Resistivities
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/simulation.py
  src/core/numerics/ohm/ohm.h
  src/simulator/simulator.h
  src/solver/level_initializer/hybrid_level_initializer.h
  src/solver/level_initializer/level_initializer_factory.h
  src/solver/multiphysics_integrator.h
  src/solver/solvers/solver_ppc.h
  tests/amr/messengers/test_messengers.cpp
  tests/core/numerics/ohm/test_main.cpp
  tests/core/numerics/ohm/test_ohm.py
Labels: core, feature

#446 constant timestamp increment
  pyphare/pyphare/simulator/simulator.py
  src/core/utilities/timestamps.h
  src/simulator/simulator.h
  tests/simulator/CMakeLists.txt
  tests/simulator/test_diagnostic_timestamps.py
Labels: diagnostics outputs, refactoring, test

#456 distribution plots with finest data
  pyphare/pyphare/core/phare_utilities.py
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/pharesee/particles.py
  pyphare/pyphare/pharesee/plotting.py
Labels: pharesee, python

#488 C++ messenger function postSynchronize to copy patchghost values after coarsening from finer level
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
  src/amr/messengers/hybrid_messenger.h
  src/amr/messengers/hybrid_messenger_strategy.h
  src/amr/messengers/messenger.h
  src/amr/messengers/mhd_hybrid_messenger_strategy.h
  src/amr/messengers/mhd_messenger.h
  src/solver/multiphysics_integrator.h
Labels: bug

#493 fix time stamps in td functional test
  tests/functional/td/td1d.py
Labels: bug

#447 Diagnostics flush parameters to not open/close each dump
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/diagnostics.py
  pyphare/pyphare/simulator/simulator.py
  src/diagnostic/detail/h5typewriter.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/detail/types/electromag.h
  src/diagnostic/detail/types/fluid.h
  src/diagnostic/detail/types/particle.h
  src/diagnostic/diagnostic_manager.h
  src/diagnostic/diagnostic_props.h
  tests/diagnostic/__init__.py
  tests/diagnostic/test_diagnostics.h
  tests/diagnostic/test_diagnostics.ipp
  tests/simulator/CMakeLists.txt
  tests/simulator/test_diagnostic_timestamps.py
  tests/simulator/test_diagnostics.py
  tests/simulator/test_initialization.py
Labels: diagnostics outputs, refactoring

#477 const ref Dict passing rather than copy/non-const ref
  pyphare/pyphare/pharein/__init__.py
  src/amr/wrappers/hierarchy.h
  src/amr/wrappers/integrator.h
  src/core/data/electromag/electromag.h
  src/core/data/electrons/electrons.h
  src/core/data/ions/ion_population/ion_population.h
  src/core/data/ions/ions.h
  src/core/data/ions/particle_initializers/particle_initializer_factory.h
  src/core/data/vecfield/vecfield_initializer.h
  src/core/models/hybrid_state.h
  src/core/numerics/ion_updater/ion_updater.h
  src/core/numerics/ohm/ohm.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/diagnostic_manager.h
  src/diagnostic/diagnostics.h
  src/initializer/data_provider.h
  src/initializer/dictator.cpp
  src/python3/data_wrangler.h
  src/simulator/simulator.cpp
  src/simulator/simulator.h
  src/solver/level_initializer/level_initializer_factory.h
  src/solver/multiphysics_integrator.h
  src/solver/physical_models/hybrid_model.h
  src/solver/solvers/solver_ppc.h
  tests/amr/models/test_models.cpp
  tests/amr/resources_manager/test_resources_manager.cpp
  tests/amr/tagging/test_tagging.cpp
  tests/core/data/ion_population/test_ion_population.cpp
  tests/core/data/ions/test_ions.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
Labels: refactoring

#440 push benchmark targets per param
  .gitignore
  pyphare/pyphare/core/gridlayout.py
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/init.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare/pharesee/hierarchy.py
  res/cmake/bench.cmake
  tools/bench/functional/.gitignore
  tools/bench/functional/__init__.py
  tools/bench/functional/run_gen_plots.py
  tools/bench/functional/simulation_setup.py
  tools/bench/functional/test_cases/uniform.py
  tools/python3/__init__.py
  tools/python3/cmake.py
  tools/python3/git.py
  tools/python3/perf.py
Labels: benchmark, test
