Repository PHAREHUB/PHARE, pull requests merged in 2021-01, with the labels that each got.

#374 2d python geometry, minimal hierarchy changes
  .gitignore
  pyphare/pyphare/core/box.py
  pyphare/pyphare/core/gridlayout.py
  pyphare/pyphare/data/wrangler.py
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare/pharesee/__init__.py
  pyphare/pyphare/pharesee/geometry.py
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/pharesee/particles.py
  pyphare/pyphare/simulator/simulator.py
  pyphare/pyphare_tests/pharein/simulation_test.py
  pyphare/pyphare_tests/test_core/test_box.py
  pyphare/pyphare_tests/test_pharesee/CMakeLists.txt
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_0_test_patch_periodicity_copy_1.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_level_ghost_boxes_1.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_level_ghost_boxes_2.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_level_ghost_boxes_3.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_level_ghost_boxes_4.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_overlaps_1.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_overlaps_2.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_overlaps_3.png
  pyphare/pyphare_tests/test_pharesee/ParticleLevelGhostGeometryTest_lvl_1_test_overlaps_4.png
  pyphare/pyphare_tests/test_pharesee/__init__.py
  pyphare/pyphare_tests/test_pharesee/hierarchy_2d_lvl_1_simple_test_2.png
  pyphare/pyphare_tests/test_pharesee/test_geometry.py
  pyphare/pyphare_tests/test_pharesee/test_geometry_2d.py
  tests/amr/data/field/coarsening/test_coarsen_field.py
  tests/simulator/__init__.py
  tests/simulator/test_advance.py
  tests/simulator/test_initialization.py
Labels: pharesee, python, test

#408 deduplicate is_primal check by using gridlayout.py
  pyphare/pyphare/data/wrangler.py
  tests/simulator/data_wrangler.py
Labels: python, refactoring

#409 Refactor box.py / simulation validation
  pyphare/pyphare/core/box.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare/pharesee/particles.py
  pyphare/pyphare_tests/test_core/test_box.py
  tests/simulator/refinement_boxes.py
Labels: python, refactoring

#426 refactor diagnostic timestamp checks
  pyphare/pyphare/pharein/diagnostics.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare_tests/test_pharesee/hierarchy_2d_lvl_1_simple_test_2.png
  src/diagnostic/diagnostic_manager.h
  tests/diagnostic/__init__.py
  tests/simulator/refinement_boxes.py
  tests/simulator/test_advance.py
  tests/simulator/test_initialization.py
Labels: diagnostics outputs, refactoring

#427 refactor h5file timestamp path to be constant 10 decimal places
  pyphare/pyphare/pharesee/hierarchy.py
  src/core/utilities/types.h
  src/diagnostic/detail/h5writer.h
  tests/diagnostic/test_diagnostics.h
  tests/simulator/test_advance.py
Labels: diagnostics outputs, refactoring

#434 Runtimestamp
  pyphare/pyphare/pharesee/run.py
  src/core/utilities/types.h
Labels: bug, diagnostics outputs
