Repository PHAREHUB/PHARE, pull requests merged in 2021-05, with the labels that each got.

#539 minimum pybind version specification
  res/cmake/dep/pybind.cmake
Labels: cmake, pbwrapper

#528 tagged tangential discontinuity now tests expected TD position
  pyphare/pyphare/pharesee/run.py
  src/amr/messengers/hybrid_hybrid_messenger_strategy.h
  tests/functional/alfven_wave/alfven_wave1d.py
  tests/functional/tdtagged/td1dtagged.py
Labels: test

#535 some possible simplifications
  src/amr/resources_manager/resources_manager.h
  src/diagnostic/detail/h5typewriter.h
  src/diagnostic/detail/h5writer.h
  src/diagnostic/diagnostic_manager.h
  src/diagnostic/diagnostic_model_view.h
  src/diagnostic/diagnostic_writer.h
Labels: refactoring

#549 wt0 fix
  tests/functional/tdtagged/td1dtagged.py
Labels: bug

#545 merge solver and amr libs
  CMakeLists.txt
  src/amr/CMakeLists.txt
  src/amr/level_initializer/hybrid_level_initializer.h
  src/amr/level_initializer/level_initializer.h
  src/amr/level_initializer/level_initializer_factory.h
  src/amr/messenger_registration.h
  src/amr/multiphysics_integrator.h
  src/amr/physical_models/hybrid_model.h
  src/amr/physical_models/mhd_model.h
  src/amr/physical_models/physical_model.h
  src/amr/solvers/solver.h
  src/amr/solvers/solver_mhd.h
  src/amr/solvers/solver_ppc.h
  src/amr/tagging/hybrid_tagger.h
  src/amr/tagging/tagger.h
  src/diagnostic/CMakeLists.txt
  src/diagnostic/diagnostic_model_view.h
  src/phare_solver.h
  src/solver/CMakeLists.txt
  tests/amr/messengers/test_messenger_tag_strategy.h
  tests/amr/models/CMakeLists.txt
  tests/amr/models/test_models.cpp
  tests/amr/tagging/CMakeLists.txt
Labels: amr
