Repository PHAREHUB/PHARE, pull requests merged in 2021-11, with the labels that each got.

#547 lower the primal/dual ghosts
  .gitignore
  pyphare/pyphare/core/gridlayout.py
  pyphare/pyphare_tests/test_pharesee/__init__.py
  src/amr/data/field/coarsening/field_coarsener.h
  src/amr/data/particles/particles_data.h
  src/amr/data/particles/particles_variable.h
  src/core/data/grid/gridlayout.h
  src/core/data/ndarray/ndarray_vector.h
  src/core/hybrid/hybrid_quantities.h
  src/core/numerics/interpolator/interpolator.h
  src/core/numerics/ion_updater/ion_updater.h
  src/core/numerics/pusher/boris.h
  src/core/numerics/pusher/pusher.h
  src/diagnostic/detail/types/particle.h
  tests/amr/data/field/refine/test_refine_field.py
  tests/core/data/gridlayout/gridlayout_amr.cpp
  tests/core/numerics/interpolator/interpolator_test.py
  tests/core/numerics/interpolator/test_main.cpp
  tests/simulator/__init__.py
  tests/simulator/test_advance.py
  tests/simulator/test_initialization.py
  tests/simulator/test_python_concurrent.py
  tools/bench/core/bench.h
  tools/bench/core/data/particles/interop.cpp
  tools/bench/core/numerics/interpolator/bench_main.cpp
Labels: refactoring, amr

#553 #422 : add ion/ion beam instability as functional test
  tests/functional/ionIonBeam/CMakeLists.txt
  tests/functional/ionIonBeam/ion_ion_beam1d.py
Labels: test, READY4REVIEW

#605 add user documentation
  .gitmodules
  CMakeLists.txt
  doc/Doxyfile.in
  doc/Makefile
  doc/amr.md
  doc/coarsening.md
  doc/communications.md
  doc/core.md
  doc/customdoxygen.css
  doc/diagnostics.md
  doc/doxy-boot.js
  doc/draft.md
  doc/footer.html
  doc/header.html
  doc/phare.md
  doc/physicalmodel.md
  doc/qtify.css
  doc/refinement.md
  doc/source/build.rst
  doc/source/conf.py
  doc/source/development/tests.rst
  doc/source/getting.rst
  doc/source/index.rst
  doc/source/modules.rst
  doc/source/pharesee/get_data.rst
  doc/source/pharesee/plotting_distributions.rst
  doc/source/pharesee/plotting_fields.rst
  doc/source/pyphare.core.rst
  doc/source/pyphare.cpp.rst
  doc/source/pyphare.data.rst
  doc/source/pyphare.pharein.rst
  doc/source/pyphare.pharesee.rst
  doc/source/pyphare.rst
  doc/source/pyphare.simulator.rst
  doc/source/pyphare_tests.rst
  doc/source/pyphare_tests.test_core.rst
  doc/source/pyphare_tests.test_pharesee.rst
  doc/source/theory/amr.rst
  doc/source/theory/hybridpic.rst
  doc/source/theory/pic.rst
  doc/source/theory/spatial_discretization.rst
  doc/source/theory/temporal_discretization.rst
  doc/source/usage/examples.rst
  doc/source/usage/run_from_exe.rst
  doc/source/usage/run_from_python.rst
  doc/source/usage/simulation_inputs.rst
  pyphare/pyphare/pharein/simulation.py
  requirements.txt
  res/cmake/doc.cmake
  res/cmake/options.cmake
Labels: WIP

#624 erase leaving domain particles even in first move
  src/core/numerics/ion_updater/ion_updater.h
Labels: refactoring
