Repository PHAREHUB/PHARE, pull requests merged in 2021-06, with the labels that each got.

#562 Geometry overlap changes for cases where patches overlap periodicaly with themselves
  pyphare/pyphare/core/gridlayout.py
  pyphare/pyphare/pharesee/geometry.py
  pyphare/pyphare_tests/test_pharesee/__init__.py
  pyphare/pyphare_tests/test_pharesee/test_geometry.py
  pyphare/pyphare_tests/test_pharesee/test_geometry_2d.py
Labels: WIP

#567 fix td1tagged typos at last
  tests/functional/tdtagged/td1dtagged.py
Labels: bug, test

#554 add a median filter and a cmap kwarg for pharsee/plotting.dist_plot
  pyphare/pyphare/pharesee/plotting.py
Labels: READY4REVIEW, pharesee
