Repository PHAREHUB/PHARE, pull requests merged in 2023-10, with the labels that each got.

#757 some refactoring of messenger stuff and cleaning here and there
  src/amr/CMakeLists.txt
  src/amr/messenger_registration.hpp
  src/amr/messengers/communicator.hpp
  src/amr/messengers/hybrid_hybrid_messenger_strategy.hpp
  src/amr/messengers/hybrid_messenger_info.hpp
  src/amr/messengers/refiner.hpp
  src/amr/messengers/refiner_pool.hpp
  src/amr/messengers/synchronizer.hpp
  src/amr/messengers/synchronizer_pool.hpp
  src/amr/physical_models/hybrid_model.hpp
  src/amr/solvers/solver_ppc.hpp
  src/amr/wrappers/hierarchy.hpp
  src/core/data/vecfield/vecfield.hpp
  src/phare_amr.hpp
  src/simulator/phare_types.hpp
  tests/simulator/test_advance.py
Labels: refactoring

#676 Restarts : elapsed time file writes #667
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/restarts.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare/pharesee/run.py
  pyphare/pyphare/simulator/simulator.py
  src/core/utilities/mpi_utils.cpp
  src/core/utilities/mpi_utils.hpp
  src/restarts/restarts_manager.hpp
  src/restarts/restarts_props.hpp
  tests/simulator/test_restarts.py
Labels: diagnostics outputs, python

#761 Ampere
  src/amr/solvers/solver_ppc.hpp
Labels: bug 🔥

#763 update readthedoc config
  .readthedocs.yaml
  doc/Makefile
  doc/source/build.rst
  doc/source/conf.py
  doc/source/getting.rst
  doc/source/index.rst
  doc/source/requirements.txt
  doc/source/usage/run_from_python.rst
Labels: documentation
