Repository PHAREHUB/PHARE, pull requests merged in 2023-12, with the labels that each got.

#783 adding mass to bulk velocity
  .github/workflows/cmake_ubuntu.yml
  pyphare/pyphare/pharein/__init__.py
  res/cmake/def.cmake
  src/amr/messengers/hybrid_hybrid_messenger_strategy.hpp
  src/core/data/ions/ions.hpp
  src/core/data/particles/particle_packer.hpp
  src/core/utilities/types.hpp
  src/initializer/python_data_provider.hpp
  src/python3/CMakeLists.txt
  src/python3/cpp_simulator.hpp
  src/python3/pybind_def.hpp
  tests/amr/messengers/test_messengers.cpp
  tests/amr/models/test_models.cpp
  tests/amr/resources_manager/test_resources_manager.cpp
  tests/amr/tagging/test_tagging.cpp
  tests/core/data/electrons/test_electrons.cpp
  tests/core/data/ions/test_ions.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
  tests/diagnostic/test_diagnostics.hpp
  tests/initializer/test_initializer.cpp
  tests/simulator/test_restarts.py
Labels: bug 🔥, core

#800 fix copy/paste typo in electron tests
  tests/core/data/electrons/test_electrons.cpp
Labels: bug 🔥

#791 profile guided optimization
  pyphare/pyphare/core/phare_utilities.py
  pyphare/pyphare/pharein/maxwellian_fluid_model.py
  res/cmake/def.cmake
  res/cmake/options.cmake
  res/cmake_pgo_go.sh
  src/amr/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/data/particles/particle.hpp
  src/core/numerics/ion_updater/ion_updater.hpp
  src/core/numerics/ohm/ohm.hpp
  src/core/numerics/pusher/boris.hpp
  src/core/utilities/cellmap.hpp
  src/initializer/CMakeLists.txt
  src/phare/CMakeLists.txt
  src/python3/CMakeLists.txt
  src/simulator/CMakeLists.txt
Labels: experimental, build

#797 immortal phare handle signals
  src/phare/phare.cpp
Labels: main

#772 add Pressure diag
  pyphare/pyphare/core/gridlayout.py
  pyphare/pyphare/pharein/__init__.py
  pyphare/pyphare/pharein/diagnostics.py
  pyphare/pyphare/pharein/simulation.py
  pyphare/pyphare/pharesee/hierarchy.py
  pyphare/pyphare/pharesee/run.py
  src/amr/data/field/coarsening/field_coarsen_operator.hpp
  src/amr/physical_models/hybrid_model.hpp
  src/core/CMakeLists.txt
  src/core/data/grid/gridlayoutdefs.hpp
  src/core/data/grid/gridlayoutimplyee.hpp
  src/core/data/ions/ion_population/ion_population.hpp
  src/core/data/ions/ions.hpp
  src/core/data/tensorfield/tensorfield.hpp
  src/core/data/vecfield/vecfield.hpp
  src/core/data/vecfield/vecfield_component.hpp
  src/core/hybrid/hybrid_quantities.hpp
  src/core/numerics/interpolator/interpolator.hpp
  src/diagnostic/detail/h5writer.hpp
  src/diagnostic/detail/types/electromag.hpp
  src/diagnostic/detail/types/fluid.hpp
  src/diagnostic/detail/types/particle.hpp
  src/diagnostic/diagnostics.hpp
  src/phare_core.hpp
  src/python3/patch_level.hpp
  src/restarts/detail/h5writer.hpp
  tests/amr/models/test_models.cpp
  tests/amr/resources_manager/test_resources_manager.cpp
  tests/core/data/electrons/test_electrons.cpp
  tests/core/data/gridlayout/test_laplacian.py
  tests/core/data/ion_population/test_ion_population.cpp
  tests/core/data/ions/test_ions.cpp
  tests/core/numerics/ion_updater/test_updater.cpp
  tests/diagnostic/__init__.py
  tests/diagnostic/test_diagnostics.hpp
  tests/diagnostic/test_diagnostics.ipp
  tests/simulator/test_diagnostic_timestamps.py
  tests/simulator/test_diagnostics.py
  tests/simulator/test_initialization.py
  tests/simulator/test_tagging.py
Labels: core, diagnostics outputs, refactoring
