Repository PHAREHUB/PHARE, pull requests merged in 2024-05, with the labels that each got.

#806 allow fp32 diags in python tests
  pyphare/pyphare/core/phare_utilities.py
  tests/simulator/test_advance.py
  tests/simulator/test_initialization.py
Labels: python, READY4REVIEW, posterity

#798 boundary conditions from python3 to hdf5
  pyphare/pyphare/pharein/__init__.py
  src/amr/wrappers/hierarchy.hpp
  src/diagnostic/detail/h5typewriter.hpp
  src/diagnostic/detail/h5writer.hpp
  src/diagnostic/diagnostic_model_view.hpp
  src/hdf5/detail/h5/h5_file.hpp
  tests/diagnostic/test_diagnostics.hpp
Labels: diagnostics outputs, pharein, amr

#841 default domain particles
  pyphare/pyphare/pharein/diagnostics.py
Labels: refactoring

#848 fix interpolation (needed transpose)
  pyphare/pyphare/pharesee/plotting.py
Labels: bug 🔥
